<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  

  <vendor>GNOME Power Manager</vendor>
  <vendor_url>http://www.gnome.org/projects/gnome-power-manager/</vendor_url>
  <icon_name>battery</icon_name>

  <action id="org.gnome.power.backlight-helper">
    
    <description gettext-domain="gnome-power-manager">Modify the laptop brightness</description>
    <message gettext-domain="gnome-power-manager">Authentication is required to modify the laptop brightness</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/gnome-power-backlight-helper</annotate>
  </action>

</policyconfig>